# Specific file types
*.swp

# Specific files and directories in .config
# Ignore everything in config with exceptions
config
!config/fish/config.fish
!config/nvim/*
!config/karabiner/*

# Atom sync
# Ignore these directories
atom/blob-store/
atom/compile-cache/
atom/packages/
atom/storage/
atom/.apm/
atom/.node-gyp/

